fastapi==0.111.0
uvicorn==0.29.0
psycopg2-binary==2.9.9
minio==7.2.7
redis==5.0.4
python-multipart==0.0.9
pdfplumber==0.11.0
pdf2image==1.17.0
pytesseract==0.3.13
opencv-python-headless==4.9.0.80
Pillow==10.3.0
numpy==1.26.4
boto3
